@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    cursor: pointer;
}
a{
    cursor: pointer;
}

.total-frame-container {
  max-height: 200px;
  overflow: auto;
}

.total-frame-content {
  padding: 4px;
}
